nav {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  height: 60px;
  width: auto;
  border-bottom: 1px solid var(--very-light-pink);
}

.menu {
  display: none;
}

.logo {
  width: 150px;
  padding-bottom: 4px;
}

.navbar-left {
  display: flex;
}

.navbar-left ul,
.navbar-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 60px;
}

.navbar-left ul li a,
.navbar-right ul li a {
  text-decoration: none;
  color: var(--very-light-pink);
  border: 1px solid var(--white);
  padding: 8px;
  border-radius: 8px;
}

.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
  border: 1px solid var(--light-purple);
  color: var(--light-purple);
}

.email {
  color: var(--very-light-pink);
  font-size: var(--sm);
  margin-right: 12px;
}

.navbar-shopping-cart {
  position: relative;
}

.navbar-shopping-cart div {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--light-purple);
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  top: -4px;
  right: -4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 820px) {
  .menu {
    display: block;
    width: 25px;
    height: 60px;
  }
  .navbar-left ul {
    display: none;
  }
  .email {
    display: none;
  }
}

@media (min-width: 820px) {
  .logo {
    margin-right: 24px;
  }
}
